@media (min-width: 769px) {
/*
body {
	font-feature-settings : "palt";
	letter-spacing: 0.5px;
}*/
header#education-hd.introduction {
    background-position: 50%;
}
/*
#main p{
	text-align: justify;
	text-align-last: left;
	letter-spacing: 2px;
}
#main .intro-small-wrap p {
    letter-spacing: 0.5px;
}*/
div#main.club_activities-main {
    width: 100%;

}
.right-wrap {
    padding-right: 40px;
}
.ml-3 {
    margin-left: 30px;
}
.history_row_03 .box-set-5 p{
	margin-top: 10px;
	line-height: 1.4;	
}
.history_row_02 .word-set-4 {
    margin-bottom: 35px;
}
.uniform-box-text {
    margin-top: 30px;
}
.intro-map-box {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.intro-map-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.class-box {
	margin-bottom: 30px;   
}
.class-box img {
    display: inline-block;
    width: 40%;
    margin-right: 4%;
    height: auto;
}
.class-txt {
    display: inline-block;
    width: 55%;
    vertical-align: top;
    box-sizing: border-box;
}
.student-img {
    top: -2%;
}
.flow-time .timepc{
		margin-bottom: 40px;
	}
}