#hamburger-btn-wrap {
	cursor: pointer;
}
@media (min-width: 769px) {
  #hamburger-btn span {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  }
  #hamburger-btn span:nth-child(2) {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  }
  .open #hamburger-btn span:first-child {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 91%;
  }
  .open #hamburger-btn span:nth-child(2) {
    width: 0;
  }
  .open #hamburger-btn span:last-child {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  #logo.open{
		display: none;
	}
  .open #menu-ttl {
    margin-top: 20px;
  }
  #hamburger-btn-wrap {
    position: relative;
    z-index: 100;
	right: 0;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    padding: 84px 68px;
    overflow-y: auto;
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    z-index: 99;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
  }
  .hamburger::-webkit-scrollbar {
    display: none;
  }
  .hamburger.open {
    display: block;
    opacity: .9;
  }
  .hamburger a:hover {
    opacity: .6;
  }
  .hamburger-txt-area ul {
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
  }
  .hamburger-txt-area ul li {
    min-width: calc(100% / 4 - 8%);
    width: auto;
    padding-left: 20px;
    background: url(../img/icon-meun-arrow.png) 0 50% / 8px no-repeat;
    font-size: 16px;
    /*margin-right: 8%;*/
  }
  ul.hamburger-txt-sub {
    margin-bottom: 20px;
  }
  ul.hamburger-txt-sub li {
    margin-bottom: 14px;
  }
  ul.hamburger-txt-sub.blue {
    margin-bottom: 36px;
  }
  ul.hamburger-txt-sub.blue li {
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
  ul.hamburger-txt-sub.blue li a {
    font-size: 18px;
    color: #004080;
  }
  ul.hamburger-txt-main li {
    /*font-size: 20px;*/
    width: calc(100% / 3);
    /*margin-bottom: 16px;*/
    /*background-size: 10px;*/
  }
  ul.hamburger-txt-main li a {
    font-size: 20px;
    width: 100%;
    margin-bottom: 16px;
    background-size: 10px;
    display: block;
  }
  .hamburger-search input {
    display: inherit;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #666;
    height: 40px;
    background-position: 95%;
  }
  .hamburger-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: none;
    z-index: 3;
	  min-height: 598px;
  }
  .hamburger-bg.open {
    display: block;
  }
  .hamburger-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 88%;
	  min-height: 598px;
  }
  .hamburger-banner {
    width: 100%;
    height: auto;
  }
  .hamburger-banner .top-banner-img {
    width: 204px;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    position: relative;
    margin: 2% auto;
    cursor: pointer;
    left: 0;
}
.hamburger-banner .top-pass-banner-img {
    width: 204px;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    position: relative;
    margin: 2% auto;
    cursor: pointer;
    left: 0;
}
}
@media (min-width: 640px) and (max-width: 768px) {
  #hamburger-btn span {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #hamburger-btn span:nth-child(2) {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .open #hamburger-btn span:first-child {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 36%;
  }
  .open #hamburger-btn span:nth-child(2) {
    width: 0;
  }
  .open #hamburger-btn span:last-child {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .open #menu-ttl {
    margin-top: 20px;
  }
  #hamburger-btn-wrap {
    position: relative;
    z-index: 100;
	  right: 0;
  }
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding-top: 30px;
    overflow-y: auto;
    padding-bottom: 120px;
    z-index: 10;
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    z-index: 4;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
  }
  .hamburger::-webkit-scrollbar {
    display: none;
  }
  .hamburger.open {
    display: block;
    opacity: 1;
  }
  .hamburger-txt-area ul {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
  }
  .hamburger-txt-area ul li {
    width: calc(100% / 4);
    padding-left: 20px;
    background: url(../img/icon-meun-arrow.png) 0 50% / auto 50% no-repeat;
    font-size: 12px;
  }
  li.hamburger-txt-top-logo.sp {
    display: block;
    background: none;
    height: 48px;
  }
  li.hamburger-txt-top-logo.sp img {
    height: 100%;
    width: auto;
  }
  ul.hamburger-txt-top .pc {
    display: none;
  }
  ul.hamburger-txt-sub {
    margin-bottom: 40px;
    padding: 0 20px;
  }
  ul.hamburger-txt-sub li {
    margin-bottom: 16px;
  }
  ul.hamburger-txt-sub.blue li {
    width: auto;
    margin-right: 8%;
    margin-bottom: 0;
  }
  ul.hamburger-txt-sub.blue li a {
    font-size: 12px;
    color: #004080;
  }
  ul.hamburger-txt-main li {
    font-size: 14px;
    width: calc(100% / 2);
    background-size: 8px;
    background-position-x: 20px;
    border-bottom: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    padding: 0;
  }
  ul.hamburger-txt-main li a{
    font-size: 14px;
    width: 100%;
    padding: 36px 0 36px 40px;
    background-size: 8px;
    background-position-x: 20px;
    display: block;
  }
  ul.hamburger-txt-main li:nth-child(2n) {
    border-right: none;
  }
  ul.hamburger-txt-main {
    margin-bottom: 46px;
    border-top: 1px solid #BCBCBC;
  }
  .hamburger-search input {
    display: inherit;
    width: 48%;
    margin: 0 auto;
    border: 1px solid #666;
    height: 40px;
    background-position: 95%;
  }
  .hamburger-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3;
  }
  .hamburger-bg.open {
    display: block;
  }
  .hamburger-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 88%;
  }
  .hamburger-banner {
    width: 100%;
    height: auto;
  }
  .hamburger-banner .top-banner-img {
    width: 207px;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    left: 0;
    position: relative;
    margin: 20px auto 0;
    cursor: pointer;
  }
  .hamburger-banner .top-pass-banner-img {
    width: 207px;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    left: 0;
    position: relative;
    margin: 20px auto 0;
    cursor: pointer;
}
}
@media (max-width: 640px) {
  #hamburger-btn span {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #hamburger-btn span:nth-child(2) {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
  .open #hamburger-btn span:first-child {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 34%;
  }
  .open #hamburger-btn span:nth-child(2) {
    width: 0;
  }
  .open #hamburger-btn span:last-child {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .open #menu-ttl {
    margin-top: 20px;
  }
  #hamburger-btn-wrap {
    position: relative;
    z-index: 100;
	right: 0;
  }
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding-top: 30px;
    overflow-y: auto;
    padding-bottom: 120px;
    z-index: 10;
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    z-index: 4;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
  }
  .hamburger::-webkit-scrollbar {
    display: none;
  }
  .hamburger.open {
    display: block;
    opacity: 1;
  }
  .hamburger-txt-area ul {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
  }
  .hamburger-txt-area ul li {
    width: calc(100% / 4);
    padding-left: 20px;
    background: url(../img/icon-meun-arrow.png) 0 50% / 8px no-repeat;
    font-size: 14px;
  }
  li.hamburger-txt-top-logo.sp {
    display: block;
    background: none;
    height: 46px;
  }
  li.hamburger-txt-top-logo.sp img {
    height: 100%;
    width: auto;
  }
  ul.hamburger-txt-top .pc {
    display: none;
  }
  ul.hamburger-txt-sub {
    margin-bottom: 40px;
    padding: 0 20px;
  }
  ul.hamburger-txt-sub li {
    width: auto;
    margin-right: 8%;
    margin-bottom: 20px;
  }
  ul.hamburger-txt-sub.blue li {
    min-width: auto;
    margin-bottom: 10px;
  }
  ul.hamburger-txt-sub.blue li a {
    font-size: 14px;
    color: #004080;
  }
  ul.hamburger-txt-main li {
    font-size: 14px;
    width: calc(100% / 2);
    background-position-x: 20px;
    border-bottom: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    padding-left: 0;
  }
  ul.hamburger-txt-main li a {
    font-size: 14px;
    width: 100%;
    padding: 20px 0 20px 40px;
    background-position-x: 20px;
    display: block;
  }
  ul.hamburger-txt-main li:nth-child(2n) {
    border-right: none;
  }
  ul.hamburger-txt-main {
    margin-bottom: 46px;
    border-top: 1px solid #BCBCBC;
  }
  .hamburger-search input {
    display: inherit;
    width: 64%;
    margin: 0 auto;
    border: 1px solid #666;
    height: 40px;
    background-position: 95%;
  }
  .hamburger-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3;
  }
  .hamburger-bg.open {
    display: block;
  }
  .hamburger-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 88%;
  }
  .hamburger-banner {
    width: 100%;
    height: auto;
  }
  .hamburger-banner .top-banner-img {
    width: 207px;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    left: 0;
    position: relative;
    margin: 20px auto 0;
    cursor: pointer;
  }
  .hamburger-banner .top-pass-banner-img {
    width: 207px;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    left: 0;
    position: relative;
    margin: 20px auto 0;
    cursor: pointer;
}
}
@media (max-width: 370px) {
  ul.hamburger-txt-main li {
    font-size: 3.5vw;
  }
.hamburger-banner {
    width: 100%;
    height: auto;
  }
  .hamburger-banner .top-banner-img {
    width: 23%;
    height: auto;
    right: 0;
    object-position: 0;
    min-height: unset;
    left: 0;
    position: relative;
    margin: 3% auto 0;
    cursor: pointer;
  }
}