@media (min-width: 568px) and (max-width: 768px) {
    #main.education-main {
        width: 100%;
        display: block;
        float: none;
        margin: 42px auto 0;
    }

    #main h3 {
        font-size: 30px;
        color: #4d4d4d;
        display: block;
        text-align: center;
        line-height: 52px;
        margin-bottom: 4px;
    }

    #main .catch p {
        color: #004080;
        line-height: 2;
        display: block;
        text-align: center;
        font-size: 20px;
    }

    #main .catch {
        margin-bottom: 112px;
    }

    .contents-wrap:last-child {
        margin-bottom: 320px;
        display: inline-block;

    }

    .contents {
        width: 360px;
        display: block;
        float: left;
    }

    .contents:first-child {
        margin-right: 25px;
        width: calc(50% - 25px);
        display: block;
        float: left;
    }
    .contents:last-child {
        margin-left: 25px;
    width: calc(50% - 25px);
    display: block;
    float: left;
    }

    .contents .ttl .jp {
        font-size: 18px;
        font-weight: bold;
        color: #4d4d4d;
    }

    .contents .ttl .en {
        color: #4d4d4d;
        font-size: 15px;
        font-weight: normal;
        font-style: italic;
    }

    .pic-wrap {
        border-bottom: 1px dotted #004080;
    }

    .contents .bar {
        width: 120px;
        display: block;
        margin: 0 auto;
        height: 4px;
        background: #004080;
    }

    .contents .ttl {
        text-align: center;
        margin: 16px 0;
    }

    .contents aside {
        font-size: 16px;
        display: block;
        text-align: center;
        color: #4d4d4d;
        padding-top: 16px;
    }

    .contents {
        margin-bottom: 80px;
    }
    /*追加css*/
    #container.school-life {
        width: auto;
        overflow: hidden;
        margin-bottom: 180px;
    }
    .school-life .contents-wrap {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0;
    }
    .school-life .contents {
        display: inline-block;
        width: 46%;
        float: none;
        vertical-align: top;
    }
    .school-life .contents:nth-child(2) {
        margin-right: 0;
    }
    .school-life .pic img {
        display: block;
        width: 100%;
        height: auto;
    }
    .banner-area {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    .banner-area img {
        width: 100%;
    }

    /*ヘッダー*/
    section#school-life-ttl {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 120px;
    }
    section#school-life-ttl img {
        width: 100%;
    }

    /*共通パーツの変動*/
    header#education-hd {
        background: url(../img/img-stage-mv.jpg) 0/cover;
    }
    a {
        cursor: pointer;
    }

    /*卒業生通用css*/
    .pc {
        display: block;
    }
    .sp {
        display: none;
    }
    div#main.form-main {
        width: auto;
        max-width: 100%;
        margin: 0;
        float: none;
        display:-webkit-box;
        display: -webkit-flex;
        display:-ms-flexbox;
        display: flex;
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    }
    .form-main a {
        text-decoration: none;
    }
    .form-main p {
        font-size: 18px;
    }
    .left-menu-list {
        order: 10;
        width: 100%;
        border-bottom: 2px solid #004080;
    }
    .right-wrap {
        order: 1;
    }
    p.left-menu-ttl {
        font-size: 18px;
        text-align: center;
        color: #004080;
        padding: 32px 0;
        border: solid #004080;
        border-width: 2px 0;
    }
    ul.education-stage-menu li {
        padding: 20px 30px 20px 0;
        border-top: 1px dotted #000;
        font-size: 14px;
        background: url(../img/icon-arrow.png) 98% 50%/auto 20px no-repeat;
        position: relative;
    }
    ul.education-stage-menu li.sub-menu {
        padding: 20px 30px;
        position: relative;
    }
    ul.education-stage-menu li.sub-menu::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 1px;
        background: #000;
        left: 0;
        top: 50%;
    }
    li.now-page {
        color: #004080;
    }
    ul.education-stage-menu li.category-top-ttl {
        padding-left: 0;
    }
    ul.education-stage-menu li.category-top-ttl::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0
        background: none;
    }
    ul.education-stage-menu li a {
        color: #4d4d4d;
    }
    ul.education-stage-menu li.category-top-ttl a{
        font-weight: bold;
        color: #004080;
    }
    li.now-page {
        color: #004080;
    }
    ul.education-stage-menu li.category-top-ttl {
        background: none;
        width: 100%;
        margin-right: 0;
        border-top: none;
    }
    .education-stage-ttl {
        font-size: 36px;
        letter-spacing: 8px;
        padding-bottom: 34px;
        background: url(../img/icon-ttl-underline.png) 0 100%/auto 10px repeat-x;
        margin-bottom: 48px;
        margin-top: 40px;
    }
    .form-main .ttl-area p {
        font-size: 24px;
        line-height: 32px;
    }
    .ttl-area p span {
        font-size: 30px;
        line-height: 40px;
        display: block;
        font-weight: bold;
        color: #004080;
        margin-bottom: 20px;
    }
    .ttl-area {
        margin-bottom: 100px;
    }
    .right-wrap {
        margin-bottom: 200px;
    }
    ul.education-stage-menu li {
        width: 48%;
        display: inline-block;
        margin-right: 2%;
    }
    ul.education-stage-menu li:nth-child(2n-1) {
        margin-right: 0;
    }
    ul.education-stage-menu {
        display: flex;
        flex-wrap: wrap;
    }
    /*卒業生追加css*/
    .pdf-list-warp {
        border: solid #00408B;
        border-width: 1px 0;
    }
    .document {
        padding: 40px 0;
        font-size: 0;
        border-bottom: 1px dashed #808080;
    }
    .document:last-child {
        border-bottom: none;
    }
    .document-icon {
        display: inline-block;
        width: 10%;
        margin-right: 4%;
    }
    .document-txt {
        display: inline-block;
        width: 86%;
        vertical-align: top;
    }
    p.document-time {
        font-size: 18px;
        color: #00408B;
    }
    p.document-ttl {
        font-size: 24px;
        margin: 10px 0;
        text-decoration: underline;
    }

    /*フォームページ追加*/
    table.form-area {
        width: 100%;
    }
    p.form-inter-ttl {
      position: relative;
      font-size: 20px;
      font-weight: bold;
      color: #004080;
      padding-left: 55px;
      padding-bottom: 5px;
    }
    p.form-inter-ttl::before {
      content: "";
      width: 30px;
      height: 5px;
      background: #00408b;
      position: absolute;
      top: 43%;
      left: 0;
    }
    p.form-inter-txt {
      font-size: 16px;
    }
    p.form-inter-txt-point {
        margin: 32px 0 16px;
        font-family: 14px;
    }
    p.form-inter-txt span {
        display: block;
        text-indent: -1em;
        padding-left: 12px;
    }
    p.form-inter-txt span::before {
        content: "・";
    }
    .table-name {
        display: flex;
        padding: 10px;
        font-size: 16px;
        font-weight: normal;
    }
    .require {
        display: inline-block;
        background: #D31C24;
        color: #FFF;
        height: 20px;
        width: 34px;
        min-width: 34px;
        font-size: 12px;
        margin-top: 4px;
        margin-right: 16px;
    }
    .form-area tr {
        display: flex;
        width: 100%;
        border-top: 1px solid #004080;
    }
    .form-area td {
        width: 64%;
        min-height: 80px;
        padding: 20px 0;
        font-size: 14px;
    }
    .form-area tr.table-freespace {
        min-height: 146px;
        border-bottom: 1px solid #004080;
    }
    .form-area th {
        display: inline-block;
        width: 36%;
    }
    .form-area input {
        width: 90%;
        margin-left: 5%;
        border: 1px solid #808080;
        border-radius: 4px;
        height: 40px;
        padding: 8px;
    }
    .form-area textarea.textarrea {
        width: 90%;
        margin-left: 5%;
        border: 1px solid #808080;
        border-radius: 4px;
        padding: 8px;
        font-size: 14px;
        resize: vertical;
    }
    .form-area td.two {
        display: flex;
        padding: 20px;
    }
    .dfloat {
        display: flex;
    }
    .dfloat:first-child {
        margin-right: 10px;
    }
    .dfloat span {
        width: 40px;
        text-align: right;
        line-height: 40px;
    }
    td.three div span.mwform-tel-field {
        display: flex;
        padding: 0 5%;
        line-height: 40px;
    }
    span.mwform-tel-field input {
        margin: 0 10px;
        font-size: 14px;
    }
    span.mwform-tel-field input:first-child {
        margin-left: 0;
    }
    span.mwform-tel-field input:last-child {
        margin-right: 0;
    }
    .addition {
        padding-top: 24px;
        text-align: center;
    }
    .addition input {
        background: #DD801E;
        border: none;
        border-radius: 50px;
        width: 168px;
        margin: 0 auto;
        color: #fff;
        font-weight: normal;
        font-size: 18px;
    }
    .form-area tr:last-child {
        border-bottom: 1px solid #004080;
    }
    /*ラジオ*/
    .radio-btn {
        display: flex;
        padding: 0 5%;
    }
    .radio-btn label {
        display: flex;
    }
    input[type="radio"] {
        display: inline;
        -webkit-appearance: radio;
        width: 12px;
        margin: 0;
    }
    span.mwform-radio-field-text {
        line-height: 40px;
        margin-left: 6px;
    }
    span.mwform-radio-field.horizontal-item {
        /*width: 50%;*/
        margin-right: 4%;
    }
    /*年月日*/
    .time-form {
        display: flex;
        padding: 0 5%;
        line-height: 40px;
    }
    .time-form .dfloat:first-child {
        width: 136px;
        margin: 0;
    }
    .form-area .time-form input {
        margin-right: 10px;
    }

    
    /*希望日*/
    .choices {
        padding: 0 5%;
    }
    .choices-itmes {
        display: flex;
        flex-wrap: wrap;
    }
    .choices-itmes .dfloat input {
        margin: 0 10px 0 0;
        min-width: 40px;
    }
    .choices-itmes .dfloat:first-child input {
        min-width: 60px;
    }
    .choices-itmes .dfloat {
        line-height: 40px;
    }
    .choices-itmes.choices2 {
        padding: 10px 0;
        margin: 10px 0;
        border: 1px dotted #004080;
        border-width: 1px 0;
    }
    .choices-itmes select {
        width: auto;
        height: 40px;
        font-size: 14px;
        padding: 8px 10px;
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        appearance: menulist;
    }
    .choices .time-form {
        padding: 0;
        margin: 10px 0;
    }
    .choices .time-form .dfloat:first-child {
        width: auto;
    }
    .choices-sub-ttl {
        line-height: 40px;
        width: 100%;
    }


}

